@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
:root{
    --ônix: #403f4cff;
--preto: #2c2b3cff;
--preto-azul: rgb(0, 14, 36);
--rich-black: #121420ff;
--titulo: "Bungee Spice", sans-serif;
--texto: "Indie Flower", cursive;
}
body{
  background-color: var(--preto);  
  font-family: var(--titulo);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}


